body {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #212121;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  /* outline: 1px solid black; */
}

.padding-site {
  padding: 0 98px;
  box-sizing: border-box;
}

.button {
  position: relative;
  /* display: inline-block; */
  padding: 10px 30px;
  padding-right: 55px;

  font: inherit;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 6px;
  /* vertical-align: middle; */
  /* text-align: center; */
  color: #212121;
  text-transform: uppercase;

  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
}

.button::after {
  content: '';

  position: absolute;
  top: 16px;
  right: 30px;

  width: 12px;
  height: 12px;
  background-image: url(../img/arrow.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.button:hover,
.button:focus {
  box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.65);
}

.button:active {
  box-shadow: inset 0px 2px 2px 0px rgba(33, 33, 33, 0.35);
}

.button_no-border {
  padding: 10px 0;
  padding-right: 20px;
  letter-spacing: 5px;
  box-shadow: none;
}

.button_no-border::after {
  right: 0;
}

.button_no-border:hover,
.button_no-border:focus,
.button_no-border:active {
  color: #6c6c6c;
  border-radius: 0;
  box-shadow: none;
}

.button_no-border:hover::after,
.button_no-border:focus,
.button_no-border:active {
  background-image: url(../img/arrow-hover.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.page-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  
  padding-top: 63px;
  padding-bottom: 15px;
  background-color: transparent;
}

.page-header_sticky {
  position: fixed;
  
  padding-top: 23px;

  background-color: #ffffff;
  box-shadow: 0px 0px 11.76px 0.24px rgba(0, 0, 0, 0.25);
}

.page-header .container {
  display: flex;
  justify-content: space-between;
}

.page-header__main-nav {
  max-width: 700px;
  margin-right: 70px;
}

.page-header__logo {
  flex-shrink: 0;
  width: 184px;
  height: 21px;
}

.main-menu {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu__link {
  display: inline-block;
  padding: 3px 13px;
  color: #8c8c8c;
  text-transform: uppercase;
}

.main-menu__link:hover,
.main-menu__link:focus,
.main-menu__link:active {
  color: #212121;
}

.main-menu__item_current .main-menu__link {
  font-weight: 700;
  color: #212121;
  border-bottom: 3px solid #212121;
}

.main-menu__item_search .main-menu__link {
  padding: 0 8px;
  margin-top: 3px;
}

.main-menu__link:hover path,
.main-menu__link:focus path,
.main-menu__link:active path {
  fill: rgba(33, 33, 33, 0.65);
}

.popular-products {
  margin-bottom: 110px;
}

.text-content {
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 400px;
}

.text-content__title {
  margin: 0;
  font-size: 36px;
  line-height: 58px;
  font-weight: 700;
}

.text-content__tag {
  order: -1;

  margin: 0;

  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  color: #1e88e5;
  text-transform: uppercase;
}

.text-content__description {
  margin: 0;
  margin-bottom: 27px;
  color: #6c6c6c;
}

.slider {
  position: relative;
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__slide {
  position: relative;
  display: none;
}

.slider__slide_current {
  display: list-item;
}

.slider__img {
  margin: 0;
  width: 1366px;
  height: auto;
  font-size: 0;
  line-height: 0;
}

.slider .text-content {
  top: 366px;
  left: 98px;
  max-width: 500px;
}

.slider .text-content__title {
  margin-bottom: 14px;

  font-size: 62px;
  line-height: 72px;
  font-weight: 100;
  text-transform: uppercase;
}

.popular-products .text-content__tag {
  color: #43a047;
}

.slider__controlls {
  position: absolute;
  left: 623px;
  bottom: 23px;
  margin: auto;

  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-controll__item {
  margin-right: 10px;
}

.slider-controll__item:last-child {
  margin-right: 0;
}

.slider-controll__btn {
  width: 30px;
  height: 30px;

  background-color: #c7c7c7;
  border: 0;
  border-radius: 50%;
}

.slider-controll__btn:hover,
.slider-controll__btn:focus,
.slider-controll__btn:active {
  background-color: #212121;
}

.slider-controll__item_active .slider-controll__btn {
  width: 40px;
  height: 40px;
  background-color: #212121;
}

.featured-products {
  margin-bottom: 90px;
}

.featured-products__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.tab-controll {
  display: flex;

  margin: 0;
  padding: 0;
  list-style: none;
}

.tab-controll__item {
  padding-left: 10px;
  padding-right: 20px;

  font-size: 36px;
  line-height: 58px;
  font-weight: 700;
  color: #6c6c6c;

  border-bottom: 1px solid #6c6c6c;
  cursor: pointer;
}

.tab-controll__item_current {
  color: #212121;
  border-bottom: 3px solid #212121;
  cursor: default;
}

.tab-content {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.tab-content__item {
  position: relative;

  margin-right: 30px;
  margin-bottom: 30px;
}

.tab-content__item:hover .tab-content__hover-content{
  display: flex;
}

.tab-content__item:nth-child(4n) {
  margin-right: 0;
}


.tab-content__hover-content {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
}

.hover-content {
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 240px;
  min-height: 240px;

  background-color: rgba(255, 255, 255, 0.9);
}

.hover-content__title {
  margin: 0;
  margin-bottom: 10px;

  font-size: 23px;
  line-height: 30px;
  font-weight: 700;
}

.hover-content__description {
  margin: 0;

  line-height: 22px;
  text-align: center;
  color: #6c6c6c;
}

.hover-content__button {
  order: -1;
  width: 48px;
  height: 48px;
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 0;
}

.hover-content__button::after {
  top: 15px;
  left: 15px;

  width: 20px;
  height: 20px;

  background-image: url(../img/arrow-big.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.tab-content__img {
  width: 270px;
  height: auto;
  margin: 0;
  font-size: 0;
  line-height: 0;
}

.promo-products {
  margin-bottom: 110px;
}

.promo-products__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo_products__item {
  position: relative;
  width: 683px;
}

.promo-products .text-content {
  top: 220px;
  left: 50px;
}

.promo_products__img {
  width: 683px;
  height: auto;
  margin: 0;
  font-size: 0;
  line-height: 0;
}

.trending-products {
  margin-bottom: 90px;
}

.trending-products__title {
  font-size: 36px;
  line-height: 58px;
  font-weight: 700;
  color: #212121;
}

.trending-products__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.trending-products__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.trending-products__item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.trending-products__item:nth-child(3n) {
  margin-right: 0;
}

.trending-products__img {
  width: 370px;
  height: auto;
  margin: 0;
  font-size: 0;
  line-height: 0;
}

.hot-deals {
  position: relative;
  margin-bottom: 120px;
}

.hot-deals .text-content__tag {
  color: #e53935;
}

.exclusive-products {
  margin-bottom: 90px;
}

.exclusive-products .text-content {
  top: 180px;
  left: 30px;
  max-width: 340px;
}

.exclusive-products__list {
  display: inline-block; /* борьба с выпадением нижнего margin у родителя exclusive-products */
  margin: 0;
  padding: 0;
  list-style: none;
}

.exclusive-products__item {
  position: relative;
  float: left;
  width: 270px;
  min-height: 270px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.exclusive-products__item:first-child {
  width: 570px;
  min-height: 570px;
}

.exclusive-products__item:nth-child(3),
.exclusive-products__item:nth-child(5) {
  margin-right: 0;
}

.exclusive-products__img {
  margin: 0;
  font-size: 0;
  line-height: 0;
}

.mobile-app {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url(../img/bg-mobile-app.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.mobile-app .text-content {
  position: static;
  max-width: 600px;
}

.mobile-app .text-content__title {
  margin-bottom: 10px;
  font-size: 62px;
  line-height: 72px;
  font-weight: 100;
  text-transform: uppercase;
}

.mobile-app .text-content__tag {
  color: #6c6c6c;
}

.mobile-app .text-content__description {
  font-size: 22px;
  margin-bottom: 30px;
}

.mobile-app__button-wrapper {
  display: flex;
}

.mobile-app__button {
  display: block;
  width: 135px;
  height: 40px;
  background-color: #000;
}

.mobile-app__button_appstore {
  background-image: url(../img/bg-app-store.jpg);
  margin-right: 10px;
}

.mobile-app__button_googleplay {
  background-image: url(../img/bg-google-play.jpg);
}

.page-footer {
  background-color: #f7f7f7;
  padding-top: 115px;
}

.page-footer__top {
  display: flex;
  margin-bottom: 60px;
}

.page-footer__contacts {
  padding-right: 70px;
  width: 300px;
  box-sizing: border-box;
}

.page-footer__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #6c6c6c;
  text-transform: uppercase;
}

.page-footer__text{
  margin: 0;
  margin-bottom: 22px;
  line-height: 22px;
}

.page-footer__text:last-child {
  margin-bottom: 0;
}

.page-footer__info {
  padding-right: 60px;
  width: 500px;
  box-sizing: border-box;
}

.page-footer__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer__item {
  width: 205px;
}

.page-footer__item:nth-child(2n+1) {
  margin-right: 30px;
}

.page-footer__link {
  line-height: 26px;
  font-weight: 700;
  color: #212121;
  text-transform: uppercase;
}

.page-footer__link:hover,
.page-footer__link:focus,
.page-footer__link:active {
  color: #6c6c6c;
}

.page-footer__subscribe {
  width: 370px;
}

.page-footer__subscribe .page-footer__text {
  margin-bottom: 22px;
}

.subscribe-form__item {
  position: relative;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
}

.subscribe-form__input {
  width: 322px;
  padding: 12px 18px;
  box-sizing: border-box;
  
  font: inherit;
  line-height: 22px;
  background-color: #ffffff;
  border: 1px solid #d9dee1;
  border-right: none;
}

.subscribe-form__button {
  width: 48px;
  height: 48px;
  box-sizing: border-box;

  border: 1px solid #d9dee1;
  border-left: none;
  background-color: #ffffff;
  cursor: pointer;
}

.subscribe-form__button:hover svg path,
.subscribe-form__button:focus svg path,
.subscribe-form__button:active svg path {
  fill: #212121;
}

.page-footer__bottom {
  display: flex;
  padding-bottom: 30px;
}

.page-footer__copyright,
.page-footer__docs {
  width: 420px;
  margin: 0;

  font-size: 12px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  color: #6c6c6c;
}

.page-footer__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 330px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer__social-item {
  margin-right: 6px;
}

.page-footer__social-item:last-child {
  margin-right: 0;
}

.page-footer__social-link:hover svg path, 
.page-footer__social-link:focus svg path,
.page-footer__social-link:active svg path {
  fill: #212121;
}

.page-footer__docs {
  text-align: right;
}

.page-footer__docs a {
  color: #6c6c6c;
}

.page-footer__docs a:hover,
.page-footer__docs a:focus,
.page-footer__docs a:active {
  color: #212121;
}
